vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Jun 2012 01:09:12 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|01 Jun 2012 01:09:12 -0000
vti_filesize:IR|5979
vti_cachedlinkinfo:VX|S|../images/css_sprite_facts.png
vti_cachedsvcrellinks:VX|FSUS|familytree/webtrees-1.2.7/webtrees/modules_v3/googlemap/images/css_sprite_facts.png
vti_backlinkinfo:VX|
