vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Jun 2012 01:09:49 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|01 Jun 2012 01:09:49 -0000
vti_filesize:IR|9503
vti_cachedlinkinfo:VX|S|vline.jpg S|vline_t.gif S|vline_b.gif
vti_cachedsvcrellinks:VX|FSUS|familytree/webtrees-1.2.7/webtrees/modules_v3/tree/css/vline.jpg FSUS|familytree/webtrees-1.2.7/webtrees/modules_v3/tree/css/vline_t.gif FSUS|familytree/webtrees-1.2.7/webtrees/modules_v3/tree/css/vline_b.gif
vti_backlinkinfo:VX|
